{% for label, messages in app.flashes %}
 {% for message in messages %}

    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="alert-message">
          {{ message |raw }}
        </div>
    </div>
    
 {% endfor %}
    
{% endfor %}