
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand " href="{{ path('app_home') }}">Diarrisso Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 ">
                <li class="nav-item"> <a class="nav-link  active" href="{{ path('app_home') }}">Home <span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link " href="#!">Category</a></li>
                <li class="nav-item"><a class="nav-link " href="#!">Kontakt</a></li>
            </ul>

        </div>
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            {%  if app.user %}

                {% if is_granted('ROLE_PRODUCTS_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_index') }}">Dashboard</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profile_index') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Abmelden</a>
                </li>
                    <a class="btn btn-outline-dark" href="{{ path('cart_panier') }}" >
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark ms-1 rounded-pill">0</span>
                    </a>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">
                        Anmelden
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Registrieren</a>
                </li>
                <a class="btn btn-outline-dark" href="{{ path('cart_panier') }}" >
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark ms-1 rounded-pill">0</span>
                </a>

            {% endif %}
        </ul>
    </div>
</nav>

