{% if pages > 1 %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if currentPage > 1 %}
            <li class="page-item">
                <a class="page-link"
                   href="{{ path(path, {slug:slug, page: currentPage - 1}) }}">
                    Previous
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" >Previous</a>
            </li>

            {% for page in 1..pages %}
                <li class="page-item {{ (page == currentPage) ? 'active': ''}}">
                    <a class="page-link"
                       href="{{ path(path, {slug:slug, page: page}) }}">
                        {{ page }}
                    </a>
                </li>
            {% endfor %}
             {% if currentPage < pages  %}
                 <li class="page-item">
                    <a class="page-link"
                       href="{{ path(path, {slug:slug, page: currentPage + 1}) }}">
                        next
                    </a>
                 </li>
             {% else %}
                 <li class="page-item disabled">
                     <a class="page-link" >next</a>
                 </li>
             {% endif %}
        </ul>
        {% endif %}
    </nav>
{% endif %}