
    <aside class="col-3 border border-light bg-white p-2 mt-5 mb-5">

        <article class="card mb-3">
            <div class="card-header">
                Category
            </div>
            <div class="card-body">
                <p><a href="{{ path('categories_admin_index') }}">Categories List</a></p>
                <p><a href="{{ path('categories_admin_create') }}">Add Categories</a></p>
            </div>
        </article>
        <article class="card mb-3">
            <div class="card-header">
                Products
            </div>
            <div class="card-body">
                <p><a href="{{ path('admin_products_index') }}">Products List</a></p>
                <p><a href="{{ path('admin_products_create_') }}">Add a Product</a></p>
            </div>
        </article>

        <article class="card mb-3">
            <div class="card-header">
              Users
            </div>
            <div class="card-body">
                <p><a href="{{ path('admin_users_index') }}">List of Users</a></p>
            </div>
        </article>

        <article class="card mb-3">
            <div class="card-header">
                Orders
            </div>
            <div class="card-body">
                <p><a href="#">All Orders</a></p>
            </div>
        </article>


    </aside>