{{ form_start( form )}}

    {{ form_row( form.name )}}
    {{ form_row( form.parent)}}
    {{ form_row( form.slug )}}
    {{ form_row( form.categoryOrder )}}


<button type="submit" class="btn btn-primary"> {{ button_label| default('Add') }}</button>

{{ form_end( form )}}