{% extends 'base.html.twig' %}

{% block title %} Category {% endblock %}


{% block body %}
    <section class="container mt-5 mb-5" id="section">
        <div class="row justify-content-center align-content-center align-items-center">
            <div class="col-6">
                <h1>Add Products Category</h1>
                {% include 'admin/categorie/_form.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}
