{% extends 'base.html.twig' %}

{% block title %} Liste des Categories {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include '_partials/adminNavbar.html.twig' %}
            <main class="col-9 border border-light bg-white p-2">
                <h1>List of Categories</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Parent</th>
                        <th scope="col">Slug</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for categorie in categories %}
                        <tr>
                            <td>{{ categorie.id }}</td>
                            <td>{{ categorie.name }}</td>
                            <td>
                                {% if categorie.parent is not null %}
                                  {{ categorie.parent.name }}
                                {% endif %}
                            </td>
                            <td>{{ categorie.slug }}</td>
                            <td>{{ categorie.categoryorder }}</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </main>
        </div>
    </div>
{% endblock %}