{% extends 'base.html.twig' %}
{% block title %} la liste des products {% endblock %}

{% block body %}

    <section id="section" class="my-5 mx-4 h-100" id="section">
        {% if items | length > 0 %}
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-8">

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                        <div>
                           {# <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                                            class="fas fa-angle-down mt-1"></i></a></p>#}
                            <h3 class="">
                                <a href="{{ path('app_home') }}" class="text-decoration-none fw-normal mb-0 text-white btn btn-primary">
                                     Add More Products to cart
                                </a>
                            </h3>
                        </div>
                    </div>

                    <div class="card rounded-3 mb-4">
                        {% for item in items %}
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img
                                            src="{{ asset('assets/uploads/Products/mini/300x300-' ~  item.products.images[0].name) }}" alt="{{ item.products.images[0].name }}"
                                            class="img-fluid rounded-3" >
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">{{ item.products.name }}</p>
                                   <!-- <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>!-->
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    <button class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="bi bi-dash"></i>
                                    </button>

                                    <input id="form1" min="0" name="quantity" value="{{ item.quantity }}" type="number"
                                           class="form-control form-control-sm" />

                                    <button class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus text-danger"></i>
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0">{{ item.products.price }}</h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a href="{{ path('cart_remove', { id: item.products.id }) }}" class="text-danger">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="text-right">
                        <h3 class="text-danger">Total : {{  total }} €</h3>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body p-4 d-flex flex-row">
                            <div class="form-outline flex-fill">
                                <input type="text" id="form1" class="form-control form-control-lg" />
                                <label class="form-label" for="form1">Discound code</label>
                            </div>
                            <button type="button" class="btn btn-outline-primary     btn-lg ms-3">Apply</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <button type="button" class="btn btn-primary btn-block btn-lg">Payment</button>
                        </div>
                    </div>

                </div>
                {% else %}
                    <h1 class="text-center"> Your Cart is empty </h1>
                {% endif %}
            </div>
        </div>
    </section>
        {% endblock %}








        {#{% if items | length > 0 %}
         <table class="table">
             <thead>
             <tr>
                 <td>Product</td>
                 <td>Price</td>
                 <td>Quantity</td>
                 <td>Total</td>
                 <td>Aktion</td>
             </tr>
             </thead>
             <tbody>
             {% for item in items %}

             <tr>
                 <td>{{ item.products.name }}</td>
                 <td>{{ item.products.price }}</td>
                 <td>{{ item.quantity }}</td>
                 <td>{{ item.products.price * item.quantity }}</td>
                 <td>
                     <a href="{{ path('cart_remove', { id: item.products.id }) }}" class="btn btn-danger">
                         surprimmer
                     </a>

                 </td>
             </tr>
             {% endfor %}
             </tbody>
             <tfoot>
               <tr>
                   <td colspan="3" class="text-right">Total :</td>
                   <td>{{  total }}</td>
                   <td></td>
               </tr>
             </tfoot>
         </table>

        {% else %}
            <h1 class="text-center"> Your Cart is empty </h1>
        {% endif %}



    </section>


{% endblock %}

#}