{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<section class="container mt-4 " id="section">
    <div class="row h-100 d-flex align-items-center justify-content-center">
        <div class="col col-lg-6" >
            <form method="post" >
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal ">Anmelden</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>

                <div class="btn-group-lg">
                    <button class="btn btn-lg btn-primary mb-5 mt-3" type="submit">Anmelden</button>
                    <a   href="{{ path('forgotten_pass') }}" class="btn btn-lg btn-primary mb-5 mt-3" type="submit">
                        Forgotten Password
                    </a>

                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
