{% extends 'base.html.twig' %}


{% block title %} Password reset{% endblock %}

{% block body %}
<section class="container my-3" id="section">
    <div class="row justify-content-center align-items-center align-content-center">
        <div class="col-4">

            <h1>Password reset</h1>
            {{ form_start(passwordForm) }}
            {{ form_row(passwordForm.password) }}
            <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(passwordForm) }}

        </div>

    </div>

</section>
{% endblock %}

