{% extends 'base.html.twig' %}


{% block title %}Password reset{% endblock %}

{% block body %}
<section class="container my-3" id="section">
    <div class="row justify-content-center align-content-center align-items-center">
        <div class="col-4">

            <h1>Password reset</h1>
            {{ form_start(resetPassword) }}
            {{ form_row(resetPassword.email) }}
            <button type="submit" class="btn btn-primary">Reset</button>
            {{ form_end(resetPassword) }}

        </div>

    </div>

</section>
{% endblock %}

