{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<section class="container" id="section">
   <div class="row justify-content-center">
        <div class="col col-lg-6">
            <h1 class="text-center mt-5">Registration</h1>

            {{ form_start(registrationForm) }}

                <fieldset>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword,{label: 'Password'}) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.adresse) }}
                    {{ form_row(registrationForm.city) }}
                    {{ form_row(registrationForm.zipcode) }}
                </fieldset>
                {{ form_row(registrationForm.RGPDconsent) }}

                <button type="submit" class="btn btn-primary mb-4"> Anmelden</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</section>

{% endblock %}
