{% extends 'base.html.twig' %}

{% block title %}title{% endblock %}

{% block body %}

    <section class="py-5" id="section">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% for product in products %}

                <div class="col mb-5">
                    <div class="card h-100">

                        <!-- Product image-->
                        <img class="card-img-top"
                             src="{{ asset('assets/uploads/Products/mini/300x300-' ~  product.images[0].name) }}" alt="{{ product.images[0].name }}"

                             />

                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                <!-- Product price-->
                                {{ product.price|number_format(2,',','')  }} €


                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('app_products_details', {"slug": product.slug} ) }}">View details</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


        </div>
    </section>




{#
<main class="container" id="section">
    <section class="row" >
        {% for category in categorie %}
            {% if category.parent == null %}
            <div class="col-12">
                {{ category.name}}
            </div>
            {% else  %}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name}}</h5>
                        <p class="card-text"></p>
                        <a href="{{ path('category_liste',{slug: category.slug}) }}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endif %}
         {% endfor %}
        </div>
    </section>


   
</main>#}

{% endblock %}

