{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <main class="container mt-5 mb-3" id="section">
        <!-- Product section-->
        <section class="py-5">
            <h1 class="text-center">Category {{ products.categories.name}} </h1>
            <div class="container px-4 px-lg-5 my-5">

                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="carousel-indicators">
                                {% for iteration in 1..products.images|length %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration - 1 }}" {{ (loop.first ) ?'class="active" aria-current="true"' : '' }} aria-label="Slide {{ iteration }}"></button>
                                {% endfor %}
                            </div>
                            <div class="carousel-inner">
                                {% for image in products.images %}
                                    <div class="carousel-item {{ (loop.first ) ? 'active' : '' }}">
                                        <img src="{{ asset('assets/uploads/Products/mini/300x300-') ~  image.name }}" class="d-block w-100" alt="{{ image.name }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </button>
                        </div>
                       {# <img class="card-img-top mb-5 mb-md-0"
                             src="{{ asset('assets/uploads/Products/mini/300x300-' ~  products.images[0].name) }}" alt="{{ products.images[0].name }}"
                        />#}
                    </div>
                    <div class="col-md-6">

                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder">{{ products.name }}</h1>
                        <div class="fs-5 mb-5">
                            <span class=""> {{ products.price|number_format(2,',','')  }} €</span>
                        </div>
                        <p class="lead">{{ products.description }}</p>

                        <div class="d-flex">
                            {% if products.stock > 0 %}
                                <form class="mt-4 p-4 bg-light" method="post">
                                    <div class="form-group">
                                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                                    </div>
                                    <a class="btn btn-outline-dark flex-shrink-0" href="{{ path('cart_add_cart', {id: products.id}) }}">
                                        <i class="bi-cart-fill me-1"></i>
                                        Add to cart
                                    </a>
                                </form>
                            {%  else %}
                                <p class="text-danger">Temporarily out of stock</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('assets/uploads/Products/mini/300x300-' ~  product.images[0].name) }}" alt="{{ product.images[0].name }}"
                            />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    {{ product.price|number_format(2,',','')  }} €
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('app_products_details', {"slug": product.slug} ) }}">View options</a></div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </section>
    </main>

        {% endblock %}
{#  carousel avec les images #}
        {#<section class="row justify-content-center ">
            <div class="col-12">
                <h1 class="text-center">  {{ products.name }}</h1>
            </div>
            <div class="col-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-indicators">
                        {% for iteration in 1..products.images|length %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration - 1 }}" {{ (loop.first ) ?'class="active" aria-current="true"' : '' }} aria-label="Slide {{ iteration }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for image in products.images %}
                            <div class="carousel-item {{ (loop.first ) ? 'active' : '' }}">
                            <img src="{{ asset('assets/uploads/Products/mini/300x300-') ~  image.name }}" class="d-block w-100" alt="{{ image.name }}">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-6">
                <p>{{ products.description }}</p>
                <p> categories {{ products.categories.name}}</p>
                <p> prix {{ products.price / 100 }} €</p>
                {% if products.stock > 0 %}
                    <a href="#" class="btn btn-success">Add to Cart</a>
                {%  else %}
                    <p class="text-danger">Temporarily out of stock</p>
                {% endif %}
            </div>
        </section>
    </main>

#}


