{% extends 'base.html.twig' %}


{% block title %} Admistration des Produits{% endblock %}


{% block body %}
    <section class="container my-5" id="section">
        <section class="row justify-content-center align-items-center align-content-center">
            <div class="col-6">
                <h1>Add Products</h1>
                {% include 'admin/products/_form.html.twig' %}
            </div>
        </section>
    </section>
{% endblock %}

