{% extends 'base.html.twig' %}


{% block title %} Admistration des Produits{% endblock %}


{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1> Edit Produit Products</h1>
                {% include "admin/products/_form.html.twig" with {'button_label': 'Modifier'} %}
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/image.js') }}" defer></script>
{% endblock %}
