{% extends 'base.html.twig' %}

{% block title %} la liste des category des produits {{ categories.name }}{% endblock %}

{% block body %}
{#<h1> details products de {{ categories.name }}</h1>#}
<section class="container mt-5" id="section">
    <div class="row">

        {% for product in products.data %}
        <div class="col-3  mb-3">
           <div class="card h-100">
                <img src="{{ asset('assets/uploads/Products/mini/300x300-' ~ product.images[0].name  ) }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="{{ path('app_products_details', {"slug": product.slug}) }}">voir les details du produits</a>
        
                </div>
            </div>
        </div>
        {% endfor %}
        {%  set path = 'category_liste' %}
        {%  set slug =  categories.slug %}
        {%  set pages = products.pages %}
        {%  set currentPage = products.page %}
    </div>
    {% include '_partials/_paginator.html.twig'%}
</section>

{% endblock %}
