{% extends 'base.html.twig' %}

{% block title %} Users {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
                {% include '_partials/adminNavbar.html.twig' %}
            <main class="col-9 border border-light bg-white p-2">
                <h1>Users</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Firstname</th>
                        <th>Lasname</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Isverified</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {%  for role in user.roles %}

                                  {% if role == "ROLE_ADMIN" %}
                                    {% set name = "Administrateur" %}
                                    {% set color = "danger" %}
                                  {% elseif role == "ROLE_PRODUCT_ADMIN" %}
                                    {% set name = "Admin Product" %}
                                    {% set color = "warming" %}
                                  {% else %}
                                     {% set name = "Membre" %}
                                      {% set color = "success" %}
                                  {% endif %}
                                 <span class="badge bg-{{ color }}">{{ name }}</span>
                                {% endfor %}
                            </td>
                            <td>
                            <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="switch{{ user.id }}"  {{ user.isverified ? "checked" : "" }} disabled>
                                    <label class="form-check-label" for="switch{{ user.id }}"></label>
                                </div>
                               </td>
                            <td> <a href="" class="btn btn-success">Update</a> </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </main>
        </div>
    </div>
{% endblock %}
