<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %} - Site E-commerce</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# bootstrap style #}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        {% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">{% endblock %}

        {# Jquery #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

       {# bootstrap js #}
         <script src="{{ asset('assets/js/bootstrap.bundle.min.js')}}" defer ></script>
        {% block javascripts %}
            {#custome js #}
       <script src="{{ asset('assets/js/main.js')}}" defer></script>
        {% endblock %}
    </head>
    <body>
        {% include "_partials/_navbar.html.twig" %}
        {% include "_partials/_header.html.twig" %}
        {% if app.user and app.user.isVerified == false %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="alert-message">
            <strong>your account is not activated, please activate your account</strong>,
                <a href="{{ path('resend_verif') }}">send back the activation link</a>
            </div>
        </div>
        {% endif %}
         {% include "_partials/_flash.html.twig" %}

        {% block body %}{% endblock %}
         {% include "_partials/_footer.html.twig" %}


    </body>
</html>
