 <h1>Activate your account</h1>
 <p>Hello {{ user.firstname}} </p>
<p> please click this link to activate your email</p>
 <a href="{{  absolute_url(path('verify_user', {token: token})) }}">link to click here</a>
 <p>this expire in 3Hour </p>

